version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crm_frontend
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    networks:
      - server_crm_network
    restart: unless-stopped

networks:
  server_crm_network:
    external: true
